@font-face {
    src: local('JetBrainsMono'),
        url('/fonts/JetBrainsMono-Regular.woff2') format("woff2");
    font-family: 'JetBrainsMono';
    font-display: swap;
}

:root {
    --sans-serif-font: 'JetBrainsMono', sans-serif;
    --serif-font: 'JetBrainsMono', serif;
    --code-font: 'JetBrainsMono';
}
